<section id="banner_sec">
    <div class="container">
      <div class="row">
        <div class="banner_text">
          <!-- <span class="mob_back"><i class="fa fa-arrow-left"></i></span> -->
          <h1 class="text_banner">Greek Paradise</h1>
          <div class="gray_text">Serving authentic Greek cuisine since 1989</div>
        </div>
      </div>
    </div>
  </section>

  <section id="tab_links">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12 mb-1rem">
          <div class="accordion" id="faq">
            <div class="card">
              <div class="card-header" id="faqhead1">
                <a href="index.html" class="btn btn-header-link">BREAKFAST</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 mb-1rem">
          <div class="accordion" id="faq">
            <div class="card">
              <div class="card-header" id="faqhead2">
                <a href="index.html" class="btn btn-header-link">LUNCH</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 mb-1rem">
          <div class="accordion" id="faq">
            <div class="card">
              <div class="card-header" id="faqhead1">
                <a href="index.html" class="btn btn-header-link">DINNER</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 mb-1rem">
          <div class="accordion" id="faq">
            <div class="card">
              <div class="card-header" id="faqhead4">
                <a href="index.html" class="btn btn-header-link">WINE</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 mb-1rem">
          <div class="accordion" id="faq">
            <div class="card">
              <div class="card-header" id="faqhead5">
                <a href="index.html" class="btn btn-header-link">DESSERT</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer>
    <div class="container">
      <div class="row ">
        <p class="sub_ftr">Powered by Resto21.</p>
      </div>
    </div>
  </footer>