body{
	font-family: 'Poppins', sans-serif;
	/* background: #f2f6f9; */
}

section#navbar {
	position: absolute;
	width: 100%;
	z-index: 1;
}
.banner_text{
	width: 100%;
    display: block;
	margin-top: 20px;
	text-align: center;
	min-height: 110px;
    height: auto;
}
.gray_text {
    color: #979cbc;
}
.mb-1rem{
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.text_banner {
    color: #111c65;
}
#pills-tabContent {
    width: 100%;
}
#tab_content {
    background: #f2f6f9;
}
span.price {
    color: #fb8019;
    font-weight: 600;
    font-size: 14px;
	text-align: center;
    white-space: nowrap;
}

.card {
	background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 15px 15px #4A72A81F;
border-radius: 14px;
border: none;
}
p.card-text {
    color: #0D1863;
    font-size: 16px;
    font-weight: 400;
}

span.ttl_bold,
i.fa.fa-angle-right {
	color: #0D1863;
	font-weight: 700;
}

.tabs_custom ul li {
	margin: 20px 24px;
}

#tabs .nav-link {
	width: 180px;
	height: auto;
    min-height: 74px;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 0px 10px #647B9A1A;
	border-radius: 5px;
	opacity: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
	color: #9297B9;
	text-align: center;
}

#tabs .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
	color: #fff;
	background-color: #fb8019;
}

.mob_back {
	display: none;
}

#navbarTogglerDemo03 ul li {
	margin: 0 25px;
}

#navbarTogglerDemo03 ul li:hover {
	border-bottom: 2px solid #fb8019;
}
/* accordion */

#tab_links {
	margin:0px 0 50px;
	background: #f2f6f9;
	padding: 20px;
  }
  
  #tab_links #faq .card {
	margin-bottom: 30px;
	border: 0;
  }
  
  #tab_links #faq .card .card-header {
	border: 0;
	-webkit-box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
			box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
	border-radius: 2px;
	padding: 0;
  }
  
  #tab_links #faq .card .card-header .btn-header-link {
    display: block;
    text-align: left;
    padding: 20px;
    font-weight: 600;
    color: #111c65;
  }
  
  #tab_links #faq .card .card-header .btn-header-link:after {
	content: "\f105";
	font-family: 'FontAwesome';
	font-weight: 900;
	float: right;
  }
  

/* footer */

.logo {
    width: 100%;
    margin-bottom: 30px;
}
.main {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
.main ul {
    padding: 0;
    list-style: none;
    text-align: left;
}
.main ul li a {
    font-size: 14px;
    line-height: 30px;
    color: rgb(105, 105, 105);
    margin: 0;
}
ul.social_icon {
    display: flex;
}
ul.social_icon li a {
    padding: 0 10px;
    background: #000;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    float: left;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
}
.app-icon {
    width: 135px;
    object-fit: cover;
    height: 40px;
    text-align: left;
}
.app-icon {
    width: 135px;
    height: 40px;
    text-align: left;
    border-radius: 10px;
    margin: 8px 0;
}
h6.footer_ttl {
    font-size: 14px;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0px 0px 1.2rem;
}   
p.sub_ftr {
    border-top: 1px solid rgb(105, 105, 105);
    padding: 20px 0;
    font-size: 14px;
	width: 100%;
	text-align: center;
	margin-bottom: 0;
}
footer{
	padding-top: 40px;
	background-color: #fff;
}
@media screen and (max-width: 413px) and (min-width: 320px) {
	.banner_text {
		height: auto !important;
		min-height: 110px;
		padding: 37px 40px 0px !important;
	}
}
@media screen and (max-width: 767px) and (min-width: 320px) {
    .main {
        grid-template-columns: 50% 50%;
    }
    footer {
        padding: 30px;
    }
	section#navbar {
		position: absolute;
		width: 100%;
		top: 25px;
	}
	div#navbarTogglerDemo03 {
		background: #fbfbfb;
		padding: 0 20px;
	}
	div#navbarTogglerDemo03 ul li a {
		color: #000 !important;
	}
	.mob_back {
		display: block !important;
		margin-right: 8px;
		/* position: absolute;
		top: 35px;
		left: 20px;
		font-size: 20px; */
	}
	.mob_back a{
		color: #222;
	}
	.mb-1rem{
		margin-top: 0;
		margin-bottom: 0;
	}
	.text_banner {
		font-size: 25px;
		text-align: left;
		display: flex;
	}
	.tabs_custom ul li {
		margin: 20px 10px;
	}
	#tabs .nav-pills .nav-link.active,
	.nav-pills .show>.nav-link,
	.nav-link,
	#tabs .tabs_custom ul li {
		min-width: 50px;
		width: auto;
	}
	#tabs .nav-link{
		min-width:unset!important;
		width: 100%;
	}
	.card {
		border-radius: 10px;
		box-shadow: 0px 15px 15px #4A72A81F;
	}
	.card .card-body .row {
		display: grid !important;
		grid-template-columns: 72% 28%;
	}
	.nav-pills {
		display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    margin: 0 auto;
    width: 100%;
	}
	.row.mob_block {
		margin: auto;
	}
	.banner_text{
		height: auto !important;
		min-height: 110px;
		padding: 0px 40px 0;
		text-align: left;
		display: block;
		margin-top: 0;
	}	
	
}

@media screen and (max-width: 992px) and (min-width: 768px) {
    .main {
        display: grid;
    }
	section#navbar {
		position: absolute;
		width: 100%;
		top: 25px;
	}
	div#navbarTogglerDemo03 {
		background: #fbfbfb;
		padding: 0 20px;
	}
	div#navbarTogglerDemo03 ul li a {
		color: #000 !important;
	}
	.mob_back {
		display: block !important;
		/* position: absolute;
		top: 35px;
		left: 20px; */
		font-size: 20px;
		margin-right: 10px;
		padding-top: 5px;
	}
	.mob_back a{
		color: #000;
	}
	#banner_sec {
		background: none;
		color: #000;
	}
	.banner_text{
		height: auto !important;
		min-height: 110px;
	}
	.text_banner {
		font-size: 30px;
		padding: 35px 20px 0;
		display: flex;
	}
}